{{ define "navbar-type" }}
<ul class="nav navbar-nav navbar-right">
  <li><a href="/logout">Logout</a></li>
</ul>
{{ end }}

{{ define "thread-type" }}
<div class="panel panel-info">
  <div class="panel-body">
    <form role="form" action="/thread/post" method="post">
      <div class="form-group">
        <textarea class="form-control" name="body" id="body" placeholder="Write your reply here" rows="3"></textarea>
        <input type="hidden" name="uuid" value="{{ .Uuid }}">
        <br/>
        <button class="btn btn-primary pull-right" type="submit">Reply</button>
      </div>
    </form>
    </div>
</div>
{{ end }}
